<?xml version="1.0"?>

<launch>

  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.0" />
    <param name="autorepeat_rate" value="0.0" />
    <param name="coalesce_interval" value="0.0" />
  </node>

  <node name="adrv_remote" pkg="adrv_remote" type="adrv_remote.py" output="screen">
    <param name="steer_max" value="0.5" />
    <param name="steer_min" value="-0.5" />
    <param name="drive_max" value="1.0" />
    <param name="drive_min" value="-1.0" />
    <remap from="/cmd_vel" to="/steer_drive_controller/cmd_vel" />
  </node>

</launch>