<?xml version="1.0"?>

<launch>

  <arg name="use_sim" default="false" />
  <arg name="map_less" default="false" />

  <group unless="$(arg use_sim)">
    <!-- ロボット記述とロボットTFを出力 -->
    <include file="$(find adrv_description)/launch/adrv_description.launch" />

    <!-- Lidarを起動する -->
    <include file="$(find ydlidar_ros)/launch/X4.launch" >
      <arg name="frame_id" value="ydlidar_link" />
    </include>

    <!-- カメラを起動する -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
      <arg name="enable_fisheye" value="false"/>

      <arg name="depth_width"    value="640"/>
      <arg name="depth_height"   value="360"/>
      <arg name="enable_depth"   value="true"/>

      <arg name="enable_infra1"  value="false"/>
      <arg name="enable_infra2"  value="false"/>

      <arg name="color_width"    value="640"/>
      <arg name="color_height"   value="360"/>
      <arg name="enable_color"   value="true"/>

      <arg name="depth_fps"      value="60"/>
      <arg name="color_fps"      value="60"/>
      <arg name="gyro_fps"       value="100"/>
      <arg name="accel_fps"      value="100"/>
      <arg name="enable_gyro"    value="true"/>
      <arg name="enable_accel"   value="true"/>
    </include>

    <!-- IMUを起動する -->
    <include file="$(find adrv_sensor)/launch/adrv_sensor.launch" />

  </group>

  <!-- ロボットの自己位置推定を起動する -->
  <include file="$(find adrv_navigation)/launch/adrv_navigation.launch" >
    <arg name="map_less" value="$(arg map_less)" />
  </include>

</launch>
