<?xml version="1.0"?>

<launch>

  <include file="$(find adrv_description)/launch/adrv_description.launch" />

  <include file="$(find adrv_driver)/launch/adrv_driver.launch" />

  <include file="$(find ydlidar_ros)/launch/X4.launch" >
    <arg name="frame_id" value="ydlidar_link" />
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="enable_fisheye"      default="false"/>

    <arg name="depth_width"         default="640"/>
    <arg name="depth_height"        default="360"/>
    <arg name="enable_depth"        default="true"/>

    <arg name="enable_infra1"       default="false"/>
    <arg name="enable_infra2"       default="false"/>

    <arg name="color_width"         default="640"/>
    <arg name="color_height"        default="360"/>
    <arg name="enable_color"        default="true"/>

    <arg name="depth_fps"           default="60"/>
    <arg name="color_fps"           default="60"/>
    <arg name="gyro_fps"            default="100"/>
    <arg name="accel_fps"           default="100"/>
    <arg name="enable_gyro"         default="true"/>
    <arg name="enable_accel"        default="true"/>
  </include>

  <include file="$(find adrv_sensor)/launch/adrv_sensor.launch" />

</launch>
