<?xml version="1.0" ?>

<robot name="adrv" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ### properties ### -->  
  <xacro:property name="M_PI" value="3.14159" />
  
  <!-- ### arguments ### -->
  <xacro:arg name="robot_namespace" default="/" />
  
  <!-- ###  links  ### -->

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />
      <geometry>
        <mesh filename="package://adrv_description/meshes/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />
      <geometry>
        <mesh filename="package://adrv_description/meshes/base_link.dae" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                         iyy="1.0" iyz="0.0"
                                   izz="1.0" />
    </inertial>
  </link>

  <!-- wheel_link -->
  <xacro:include filename="$(find adrv_description)/urdf/steering.urdf.xacro" />

  <xacro:front_steer_shaft base="base_link" pose_xyz="0.095 0 0.016" />
  <xacro:rear_wheel_shaft base="base_link" pose_xyz="-0.09 0 0.016" tread="0.146" radius="0.032" />

  <xacro:front_wheel name="wheel_fr" base="base_link" pose_xyz="0.095 -0.073 0.016" right_left="right" />
  <xacro:front_wheel name="wheel_fl" base="base_link" pose_xyz="0.095 0.073 0.016" right_left="left" />
  <xacro:rear_wheel name="wheel_rr" base="base_link" pose_xyz="-0.09 -0.073 0.016" right_left="right" />
  <xacro:rear_wheel name="wheel_rl" base="base_link" pose_xyz="-0.09 0.073 0.016" right_left="left" />

  <!-- YDLIDAR X4 -->
  <xacro:include filename="$(find adrv_description)/urdf/ydlidar_x4.urdf.xacro" />

  <xacro:ydlidar_x4 name="ydlidar" base="base_link" pose_xyz="0.052 0 0.066" pose_rpy="0 0 ${-M_PI/2-6/180*M_PI}" />

  <!-- RealSense D435 -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="true">
    <origin xyz="0.127 0 0.042" rpy="0 ${5/180*M_PI} 0"/>
  </xacro:sensor_d435>


  <!-- Gazebo plugins -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>steer_bot_hardware_gazebo/SteerBotHardwareGazebo</robotSimType>
    </plugin>
  </gazebo>

</robot>