<?xml version="1.0" ?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="wheel" params="name right_left">
  
    <link name="${name}_link">

      <xacro:if value="${right_left =='right'}">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" />
          <geometry>
            <mesh filename="package://adrv_description/meshes/wheel_link.dae" />          
          </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" />
          <geometry>
            <mesh filename="package://adrv_description/meshes/wheel_link.dae" />          
          </geometry>
        </collision>
      </xacro:if>

      <xacro:if value="${right_left =='left'}">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}" />
          <geometry>
            <mesh filename="package://adrv_description/meshes/wheel_link.dae" />          
          </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}" />
          <geometry>
            <mesh filename="package://adrv_description/meshes/wheel_link.dae" />          
          </geometry>
        </collision>
      </xacro:if>

      <inertial>
        <origin xyz="0 0 0" />
        <mass value="1.0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                           iyy="1.0" iyz="0.0"
                                     izz="1.0" />
      </inertial>
    </link>

    <gazebo reference="${name}_link">
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp  value="100000000.0" />
      <kd  value="1.0" />
      <fdir1 value="1 0 0" />
    </gazebo>

  </xacro:macro>

</robot>
