<?xml version="1.0"?>

<launch>
  
  <arg name="map_file" default="$(find adrv_navigation)/maps/tes2020_course.yaml"/>

  <node name="adrv_map" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <param name="frame_id" value="odom" />
  </node>

  <include file="$(find adrv_navigation)/launch/amcl.launch" />

  <include file="$(find adrv_navigation)/launch/move_base.launch" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find adrv_navigation)/config/localization.yaml" />
  </node>

</launch>