<?xml version="1.0"?>

<launch>
  
  <arg name="map_file" default="$(find adrv_navigation)/maps/tes2020_course.yaml"/>

  <node name="adrv_map" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <param name="frame_id" value="odom" />
  </node>

  <node name="adrv_amcl" pkg="amcl" type="amcl" output="screen">
    <rosparam command="load" file="$(find adrv_navigation)/config/amcl.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find adrv_navigation)/config/localization.yaml" />
  </node>

</launch>