<?xml version="1.0"?>

<launch>

  <!-- parameters -->
  <!-- <arg name="" default="" /> -->
  <arg name="world" default="course" />

  <!-- gazebo run start & spawn course world -->
  <include file="$(find adrv_gazebo)/launch/course.launch" >
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- spawn robot description -->
  <include file="$(find adrv_gazebo)/launch/spawn_ardv.launch">
    <arg name="robot_name" default="adrv" />
    <arg name="robot_namespace" default="/" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.03" />
    <arg name="yaw" default="0" />
  </include>

</launch>
