<?xml version="1.0"?>

<launch>

  <!--  -->
  <arg name="robot_name" default="adrv" />
  <arg name="robot_namespace" default="/" />
  <arg name="x" default="2.85" />
  <arg name="y" default="-0.3" />
  <arg name="z" default="0.03" />
  <arg name="yaw" default="-1.57079" />

  <!--  -->
  <include file="$(find adrv_description)/launch/adrv_description.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
  </include>

  <!--  -->
  <rosparam file="$(find adrv_gazebo)/config/controller.yaml" command="load" />  

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
    args="-x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -Y $(arg yaw)
          -unpause
          -urdf
          -param robot_description
          -model $(arg robot_name)"
    respawn="false" 
    output="screen" />

  <node name="controller_spawner" pkg="controller_manager"
      type="spawner" respawn="false"
      output="screen"
      args="steer_drive_controller
            joint_state_controller" />

</launch>